$text-align-responsive: true !default;
$float-responsive: true !default;
$space-responsive: true !default;
$display-responsive: true !default;
$border-radius-responsive: true !default;
$flex-responsive: true !default;
$flex-direction: true !default;
$align-items-responsive: true !default;
$text-transform-responsive: true !default;
$justify-content-responsive: true !default;
$order-responsive: true !default;
$outline-width-responsive: true !default;
$align-self-responsive: true !default;

@import "utilities/utilities.text-align";
@import "utilities/utilities.float";
@import "utilities/utilities.space";
@import "utilities/utilities.display";
@import "utilities/utilities.border-radius";
@import "utilities/utilities.flex";
@import "utilities/utilities.flex-direction";
@import "utilities/utilities.align-items";
@import "utilities/utilities.text-transform";
@import "utilities/utilities.justify-content";
@import "utilities/utilities.order";
@import "utilities/utilities.outline-width";
@import "utilities/utilities.align-self";
