/**
* ===========================================================================
* TEXT ALIGN
* ===========================================================================
*/

/**
*
*	Utilities for controlling the alignment of text.
*
* https://gist.github.com/apsuhos/faf7718c6a751fa09d579d42fc64c9a6#file-text-align-css
*
*/

$text-align-direction-values: (
	"text-left": left,
	"text-right": right,
	"text-center": center,
	"text-justify": justify,
) !default;

@each $direction-value-namespace, $direction-value in $text-align-direction-values {
	.u-#{$direction-value-namespace} {
		text-align: $direction-value !important;
	}
}

@if $text-align-responsive == true {
	@each $bp-name, $bp-value in $mq-breakpoints {
		@include mq($from: $bp-name) {
			@each $direction-value-namespace, $direction-value in $text-align-direction-values {
				.u-#{$direction-value-namespace}\@#{$bp-name} {
					text-align: $direction-value !important;
				}
			}
		}
	}
}
