/**
* ===========================================================================
* SPACE
* ===========================================================================
*/

/**
*
*	Utilities for controlling the space between child elements.
*
* https://gist.github.com/apsuhos/dad813a836fea83f73d749ac2a5059a3#file-space-css
*
*/

$space-properties: (
	"space": "margin",
) !default;

$space-direction-values: (
	"-x": "left",
	"-y": "top",
) !default;

$space-sizes: (
	"-tiny": $inuit-global-spacing-unit-tiny,
	"-small": $inuit-global-spacing-unit-small,
	null: $inuit-global-spacing-unit,
	"-large": $inuit-global-spacing-unit-large,
	"-huge": $inuit-global-spacing-unit-huge,
	"-none": 0,
) !default;

@each $property-namespace, $property in $space-properties {
	@each $direction-namespace, $direction in $space-direction-values {
		@each $size-namespace, $size in $space-sizes {
			.u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} > * + * {
				#{$property}-#{$direction}: #{$size} !important;
			}
		}
	}
}

@if $space-responsive == true {
	@each $bp-name, $bp-value in $mq-breakpoints {
		@each $property-namespace, $property in $space-properties {
			@each $direction-namespace, $direction in $space-direction-values {
				@include mq($from: $bp-name) {
					@each $size-namespace, $size in $space-sizes {
						.u-#{$property-namespace}#{$direction-namespace}#{$size-namespace}\@#{$bp-name} > * + * {
							#{$property}-#{$direction}: #{$size} !important;
						}
					}
				}
			}
		}
	}
}
